@use '../abstracts' as *;

.loginContainer {
  background-color: #ffffff;
  box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 560px;
  height: 435px;
  margin: 0 auto;
  margin-top: 80px;

  .error {
    color: red;
    margin-bottom: 20px;
    height: 18px;
  }

  button {
    width: 165px;
    height: 50px;
    margin-top: 48px;
    font-size: 16px;
    color: white;
    background-color: $light-green;
    border-radius: 23.5px;
    cursor: pointer;
    transition: 300ms;

    &:hover {
      background-color: #525252;
    }
  }

  .InputContainer {
    display: flex;
    flex-direction: column;

    label {
      margin-bottom: 12px;
      font-size: 14px;
      font-weight: 500;
      color: #525252;
    }

    input {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 15px;
      font-size: 14px;
      line-height: 23px;
      background-color: transparent;
      border: 1px solid #dee2e6;
      border-radius: 0;
      outline: none;
    }
  }

  .loginAddOns {
    display: flex;
    justify-content: space-between;

    a {
      font-size: 14px;
      color: #525252;
      transition: 300ms;

      &:hover {
        color: $light-green;
      }
    }

    .nav {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 10px;
    }

    .checkboxContainer {
      display: flex;
      gap: 10px;

      label {
        font-size: 14px;
        font-weight: 400;
        color: #525252;
        line-height: 20px;
      }
    }
  }
}