@use '../abstracts' as *;

header {
    display: flex;
    flex-direction: column;
    width: 100%;

    .headerTop {
        display: flex;
        width: 100%;
        height: 49px;
        justify-content: center;
        align-items: center;
        background-color: $light-green;
        color: white;
        gap: 40vw;
        font-size: 14px;
        text-transform: uppercase;


        .customDropdown {
            position: relative;

            .dropdownToggle {
                background: transparent;
                border: none;
                color: white;
                font-size: 14px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            .dropdownMenu {
                position: absolute;
                top: 120%;
                right: 0;
                background-color: white;
                border-radius: 5px;
                box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                padding: 5px 0;
                flex-direction: column;
                z-index: 1000;
                min-width: 80px;
                opacity: 0;
                visibility: hidden;
                transform: translateY(20%);
                transition: opacity 300ms ease, transform 300ms ease, visibility 300ms;

                &.open {
                    opacity: 1;
                    visibility: visible;
                    transform: translateY(0);
                }

                li {
                    list-style: none;
                    padding: 8px 15px;
                    color: black;
                    cursor: pointer;
                    transition: background-color 300ms, color 300ms;

                    &:hover {
                        background-color: $light-green;
                        color: white;
                    }
                }
            }
        }



        p {
            letter-spacing: 1.1px;
        }

        div {
            display: flex;
            align-items: center;
            gap: 15px;

            span {
                display: flex;
                align-items: center;
                gap: 5px;
            }
        }
    }

    .headerMiddle {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        gap: 20vw;
        border-bottom: 1px solid #dee2e6;

        nav {
            display: flex;
            gap: 15px;
            font-size: 23px;

            .burgerIcon {
                display: none;
            }

            .userIconContainer {
                position: relative;

                .userIconDropdown {
                    position: absolute;
                    top: 150%;
                    right: 100%;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                    background-color: white;
                    height: 100px;
                    width: 164px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0px;
                    justify-content: space-between;
                    opacity: 0;
                    visibility: hidden;
                    transition: 300ms;

                    &.clicked {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }



                    button {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        font-size: 14px;
                        cursor: pointer;
                        transition: 300ms;

                        &:hover {
                            background-color: $light-green;
                            color: white;
                        }
                    }
                }
            }

            svg {
                cursor: pointer;
                transition: 400ms;
                color: #525252;

                &:hover {
                    color: $light-green;
                }
            }
        }

        img {
            cursor: pointer;
            height: auto;
            max-height: 80px;
        }

        .contactNumber {
            display: flex;
            gap: 15px;
            font-size: 18px;
            align-items: center;
            transition: 400ms;

            p {
                white-space: nowrap;
            }

            .phoneIconContainer {
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $light-green;
                color: white;
                border-radius: 10px;


                .phoneIcon {
                    font-size: 24px;
                }
            }

            p {
                cursor: pointer;
                transition: 400ms;
                color: #525252;

                &:hover {
                    color: $light-green;
                }
            }
        }
    }

    .headerBottom {
        display: flex;
        gap: 35px;
        justify-content: center;
        height: 50px;
        align-items: center;

        a {
            position: relative;
            color: $gray;
            text-transform: uppercase;
            font-size: 14px;
            transition: 400ms;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -16px;
                width: 0;
                height: 1px;
                background-color: $light-green;
                transition: 0.3s ease;
            }

            &:hover {
                color: $light-green;
            }

            &:hover::after {
                width: 100%;
            }
        }
    }

    .fixedHeader {
        position: fixed;
        z-index: 998;
        top: -120px;
        left: 0;
        width: 100%;
        height: 96px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px;
        transition: 0.8s ease-in-out;
        display: flex;
        align-items: center;

        &.visible {
            top: 0;
        }

        .fixedHeaderContent {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 70px;

            nav {
                display: flex;
                gap: 35px;

                a {
                    color: $gray;
                    text-transform: uppercase;
                    font-size: 14px;
                    transition: 400ms;
                    white-space: nowrap;

                    &:hover {
                        color: $light-green;
                    }
                }
            }

            .userIconContainer {
                position: relative;

                .userIconDropdown {
                    position: absolute;
                    top: 150%;
                    right: 100%;
                    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
                    background-color: white;
                    height: 100px;
                    width: 164px;
                    border-radius: 5px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 0px;
                    justify-content: space-between;
                    opacity: 0;
                    visibility: hidden;
                    transition: 300ms;

                    &.clicked {
                        opacity: 1;
                        visibility: visible;
                        top: 100%;
                    }



                    button {
                        width: 100%;
                        height: 100%;
                        background-color: transparent;
                        font-size: 14px;
                        cursor: pointer;
                        transition: 300ms;

                        &:hover {
                            background-color: $light-green;
                            color: white;
                        }
                    }
                }
            }

            .fixedHeaderIcons {
                display: flex;
                gap: 15px;
                font-size: 23px;

                svg {
                    cursor: pointer;
                    transition: 400ms;
                    color: #525252;

                    &:hover {
                        color: $light-green;
                    }
                }
            }
        }

    }

}



@media (max-width: 992px) {
    header {

        .headerTop {
            display: none;
        }

        .headerBottom {
            display: none;
        }

        .headerMiddle {
            padding: 0 5vw;

            .contactNumber {
                display: none;
            }


            nav {
                .userIconContainer {
                    display: none;
                }

                .heartIcon {
                    display: none;
                }

                .burgerIcon {
                    display: flex;
                }
            }
        }
    }

}