@keyframes carouselImageAppear {
  0% {
    transform: translateY(25vw);
    opacity: 0;
  }

  100% {
    transform: translateY(0vw);
    opacity: 1;
  }
}

@keyframes carouselTextAppear {
  0% {
    opacity: 0;
    transform: translateY(2vw);
  }

  100% {
    opacity: 1;
    transform: translateY(0vw);
  }
}