@use './index' as *;


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #abd373 white;
}


a {
  text-decoration: none;
}





button {
  border: none;
}

body,
html {
  font-family: "Rubik", sans-serif;
  overflow-x: hidden;
}


::selection {
  background-color: $light-green;
  color: white;
}


::-webkit-selection {
  background-color: $light-green;
  color: white;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


*::-webkit-scrollbar {
  width: 8px;
  background: white; /* scrollbar track color */
  border-radius: 8px;
}

*::-webkit-scrollbar-thumb {
  background-color: #abd373; /* green */
  border-radius: 8px;
  border: 2px solid white; /* padding around thumb */
}