@use '../abstracts' as *;

.carousel {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5vw;
  background-color: #F8EEE6;
  height: 770px;
  overflow-y: hidden;

  &:hover {

    .caretLeftContainer,
    .caretRightContainer {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .caretLeftContainer,
  .caretRightContainer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50px;
    height: 50px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: 600ms;

    &:hover {
      background-color: $light-green;
      color: white;
    }

    .caretLeft,
    .caretRight {
      font-size: 30px;
    }
  }

  .caretLeftContainer {
    left: 1%;
  }

  .caretRightContainer {
    right: 1%;
  }

  .carouselDescriptionContainer {
    user-select: none;
    flex-shrink: 0;

    .saleText,
    .plantName,
    .descriptionText {
      opacity: 0;
    }

    .saleText {
      font-size: 47px;
      font-weight: 100;

      &.animate {
        animation: carouselTextAppear 1s forwards;
      }
    }

    .plantName {
      font-size: 90px;
      font-weight: 400;

      &.animate {
        animation: carouselTextAppear 1s 0.5s forwards;
      }
    }

    .descriptionText {
      font-size: 22px;

      &.animate {
        animation: carouselTextAppear 1s 1s forwards;
      }
    }
  }

  .imageContainer {
    user-select: none;
    width: 520px;
    opacity: 0;

    img {
      width: 100%;
    }

    &.animate {
      animation: carouselImageAppear 1s 2s forwards;
    }
  }

  .carouselDotContainer {
    display: none;
    gap: 2vw;

    .carouselDot {
      background-color: transparent;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      position: relative;
      border: 1px solid transparent;
      cursor: pointer;
      transition: border-color 0.3s ease;

      &::before {
        content: "";
        background-color: $light-green;
        border-radius: 100%;
        position: absolute;
        top: 2px;
        left: 2px;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
      }

      &.active {
        border: 1px solid $light-green;
      }
    }
  }
}


@media (max-width: 1200px) {
  .carousel {
    .carouselDescriptionContainer {
      .plantName {
        font-size: 70px;
      }

      .descriptionText {
        font-size: 18px;
      }
    }

    .imageContainer {
      width: 470px;
    }
  }
}

@media (max-width: 992px) {
  .carousel {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    height: 700px;
    text-align: center;

    .imageContainer {
      order: 1;
      width: 300px;
      margin-bottom: 20px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .carouselDescriptionContainer {
      order: 2;

      .saleText {
        font-size: 30px;
      }

      .plantName {
        font-size: 45px;
      }

      .descriptionText {
        font-size: 18px;
      }

      button {
        width: 200px;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
      }
    }

    .carouselDotContainer {
      display: flex;
      order: 3;
      margin-top: 40px;
      margin-bottom: 40px;
    }
  }
}