@use '../abstracts' as *;

.filter {
  display: flex;
  flex-direction: column;
  gap: 50px;

  .searchContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f6f7fb;
    padding: 30px;
    border-radius: 10px;

    input {
      width: 200px;
      height: 45px;
      padding: 0 35px 0 15px;
      font-size: 17px;
      color: #969696;
      background-color: inherit;
      border: 1px solid #dee2e6;
      border-radius: 10px;
      outline: none;
    }

    .filterSearchIcon {
      position: absolute;
      top: 50%;
      right: 44px;
      transform: translateY(-50%);
      color: #cfcfcf;
    }
  }

  .filtersContainer {
    background-color: #f6f7fb;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .Filter {
      display: flex;
      flex-direction: column;
      gap: 20px;

      h2 {
        font-size: 24px;
        color: #6c6c6c;
        text-align: center;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          bottom: -40%;
          left: 50%;
          transform: translateX(-50%);
          width: 30px;
          height: 2px;
          background-color: #abd373;
        }
      }

      .FiltersContainer {
        display: flex;
        flex-direction: column;

        a {
          color: #6a6a6a;
          padding-bottom: 10px;
          margin-bottom: 10px;
          border-bottom: 1px solid #dee2e6;
        }
      }
    }
  }
}