@use '../abstracts' as *;

.productsSortContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 100%;
  height: 96px;
  padding-bottom: 50px;

  .productsAmount,
  .sortBy {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px 30px;

    .foundProducts {
      color: $light-green;
    }
  }

  .gridView,
  .listView {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;

    svg {
      font-size: 20px;
    }
  }
}
