@use '../abstracts' as *;

.productsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.product {
  position: relative;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  overflow: hidden;

  .productImageContainer {
    position: relative;
    width: 300px;
    height: 100%;

    .mainImage,
    .hoverImage {
      width: 100%;
      transition: opacity 0.3s ease-in-out;
    }

    .hoverImage {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      pointer-events: none;
    }

    &:hover {
      .mainImage {
        opacity: 0;
      }

      .hoverImage {
        opacity: 1;
      }

      .buttonGroup {
        opacity: 1;
        transform: translate(-50%, -50%) translateX(20%);
      }
    }

    .buttonGroup {
      position: absolute;
      bottom: 0;
      left: 20%;
      transform: translate(-50%, -50%) translateX(-100%);
      display: flex;
      gap: 10px;
      opacity: 0;
      transition: opacity 0.3s ease, transform 0.4s ease;

      .productHoverButton {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        font-size: 20px;
        text-align: center;
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
        transition: 300ms;

        &:hover {
          background-color: $light-green;
          color: white;
        }
      }
    }
  }

  .ratingContainer {
    display: flex;
    gap: 6px;
    color: #ffe24d;
  }

  .productTextContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-right: auto;

    a {
      font-size: 18px;
      color: #303030;
    }

    p {
      font-size: 21px;
      color: $light-green;
    }
  }
}
